* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2D2C2C;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #2D2C2C;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar .circle {
  background-color: #472CA7;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.avatar img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form label {
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 16px;
  font-size: 15px;
}

.form input {
  background-color: #D9D9D9;
  border: none;
  padding: 9px 12px;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #472CA7;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  margin-top: 28px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #3a2391;
}

@media (max-width: 480px) {
  .container {
      padding: 20px;
  }

  .avatar .circle {
      width: 80px;
      height: 80px;
  }

  .avatar img {
      width: 50%;
      height: 50%;
  }

  button {
      padding: 10px;
      font-size: 15px;
  }
}
