* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v21_10 {
  width: 398px;
  height: 558px;
  background: rgba(45,44,44,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_83 {
  width: 336px;
  height: 60px;
  background: rgba(226,31,31,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 31px;
  overflow: hidden;
}
.v22_84 {
  width: 328px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 46px;
  font-family: Merriweather;
  font-weight: Black;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v22_85 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 93px;
  left: 233px;
  font-family: Merriweather;
  font-weight: Black;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v22_89 {
  width: 277px;
  height: 334px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 69px;
  overflow: hidden;
}
.v22_90 {
  width: 268px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 336px;
  left: 74px;
  font-family: Merriweather;
  font-weight: Black;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v22_87 {
  width: 255px;
  height: 158px;
  background: url("../images/v22_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 82px;
  overflow: hidden;
}
.v22_92 {
  width: 277px;
  height: 25px;
  background: rgba(226,31,31,1);
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 69px;
  overflow: hidden;
}
.v22_93 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 496px;
  left: 170px;
  font-family: Merriweather;
  font-weight: Black;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
